.formContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    height: 55vh;
}

.supportersFormContainer {
    height: auto;
}

.inputContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px;
}


.label {
    font-weight: 500;
}

.input {
    width: 25vw;
    outline: none;
    padding: 5px;
    border-radius: 5px;
    border-color: var(--background-primary);
    border: 2px solid;
    background-color: var(--background-secondary);
}

.button {
    background-color: var(--button-form);
    padding: 10px;
    width: 10em;
    border-radius: 5px;
    cursor: pointer;
    border-style: none;
    color: var(--text-primary);
}

.button:hover {
    background-color: var(--button-form-hover);
}


.buttonSupporters {
   margin-bottom: 30px;
}

.buttonSupporters:hover {
    background-color: var(--button-form-hover);
}

.inputContainerImage {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border: 2px solid #000;
    border-radius: 5px;
    width: 25vw;
}

.downloadIcon {
    font-size: 30px;
}

.downloadIcon:hover {
    cursor: pointer;
}

/* This selector targets the editable element (excluding comments). */
.ck-editor__editable_inline:not(.ck-comment__input *) {
    height: 300px;
    overflow-y: auto;
}