.table{
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    background-color: var(--background-secondary);
    border: 2px solid #005fb8;
}

.th, tr{
    border: 2px solid var(--secondary-color);
    padding: 8px;
}

.deleteIcon{
    cursor: pointer;
}