/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
   --background-primary: #000;
   --background-secondary: rgb(247, 247, 247);
   --primary-color: #252323;
   --secondary-color: #EE5007;
   --third-color: #5A1BFF;
   --fourth-color: #F9B909;
   --button-background: #ffffff;
   --button-secondary: rgb(247, 247, 247);
   --button-form: #3737c0;
   --button-form-hover: #6d6de6;
   --icon-color: #000000;
   --text-primary: #fff;
   --text-secondary: #000;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
    
 }

body{
   background-color: var(--background-primary);
}

 /*
#252323
#EE5007
#5A1BFF
#F9B909
*/